#!/usr/bin/env bash
# Shebang is only for the IDE
# This script should not be called directly. It is called by direnv

# Strict Bash
set -TCEeuo pipefail

echo ""

###################
# Common function
###################
function devf_echo_yellow(){
    YELLOW="\033[0;33m"
    NO_COLOR="\033[0m"
    echo -e "${YELLOW}$1$NO_COLOR"
}

###################
# Project Env
# Project Environment are common project variables used in script
###################
# Project Root
export ORGANISATION_NAME="gerardnico"
# Name used in env
export ORGANISATION_ENV_NAME="GERARDNICO"
# Name used in path
export ORGANISATION_PATH_NAME="gerardnico"
# Used by script to get the root
export PROJECT_ROOT="$PWD"
# The package manager
export PACKAGE_MANAGER="none"

# Feedback
echo "Project: "
echo "   Project Root              : ${PROJECT_ROOT}"
echo "   Organisation Name         : ${ORGANISATION_NAME}"
echo "   Package Manager           : ${PACKAGE_MANAGER}"


############################
# Pre-commit setup
# Install pre-commit hooks
############################
if command -v pre-commit &> /dev/null; then

  echo ""
  echo "Pre-commit:"
  if [ ! -f "$PROJECT_ROOT/.git/hooks/pre-commit" ]; then
      pre-commit install
      echo "   Pre-commit hooks : installed"
  else
      echo "   Pre-commit hooks : enabled"
  fi
  if [ ! -f "$PROJECT_ROOT/.git/hooks/commit-msg" ]; then
      pre-commit install --hook-type commit-msg
      echo "   Commit-msg hooks : installed"
  else
      echo "   Commit-msg hooks : enabled"
  fi

else
    echo "⚠️ pre-commit not found. Install with: pip install pre-commit"
    exit 1
fi


#################
# DEVF
# Bin script installation
# The installation is done by cloning the repo to a well-known location.
#################
echo ""
echo "Repo manager: "
export DEVF_PREFIX="DEVF"
DEVF_DIR_VAR_NAME="${DEVF_PREFIX}_${ORGANISATION_ENV_NAME}_DIR"
export DEVF_DIR
DEVF_DIR="${!DEVF_DIR_VAR_NAME:-}"
if [ "$DEVF_DIR" != "" ]; then
  echo "   Repo Directory               : $DEVF_DIR (from var $DEVF_DIR_VAR_NAME)"
else
  DEVF_DIR=$(realpath "$PWD/../devfiles")
  echo "   Repo Directory               : $DEVF_DIR (default)"
fi
if [ ! -d "$DEVF_DIR" ]; then

    devf_echo_yellow "DEVF_DIR ($DEVF_DIR) does not exist."
    DEVF_REPO_URI_VAR_NAME="${DEVF_PREFIX}_${ORGANISATION_ENV_NAME}_URI"
    DEVF_REPO_URI="${!DEVF_REPO_URI_VAR_NAME:-https://github.com/combostrap/devfiles}"
    devf_echo_yellow "Clone $DEVF_REPO_URI to $DEVF_DIR? Y(Yes-Default)/N(No)"
    read -r CLONE
    if [ "$CLONE" == "" ] || [ "$CLONE" == "Y" ]; then
        git clone "$DEVF_REPO_URI" "$DEVF_DIR"
        devf_echo_yellow "Repo Manager repo cloned"
    fi

fi

# In case, the repo was not installed
if [ -d "$DEVF_DIR" ]; then

    #################
    # Bin
    #################
    DEV_SCRIPT_PATH="$DEVF_DIR/dev-scripts"
    COMMON_SCRIPT_PATH="$DEV_SCRIPT_PATH/common"
    export PATH="$COMMON_SCRIPT_PATH:$PATH" # script path first as it has a higher priority
    echo "   Common Scripts Path          : $COMMON_SCRIPT_PATH"
    PACKAGE_MANAGER_PATH="$DEV_SCRIPT_PATH/package-manager/$PACKAGE_MANAGER"
    export PATH="$PACKAGE_MANAGER_PATH:$PATH" # script path first as it has a higher priority
    echo "   Package Manager Scripts Path : $PACKAGE_MANAGER_PATH"
    SETUP_PATH="$DEV_SCRIPT_PATH/setup/"
    export PATH="$SETUP_PATH:$PATH" # script path first as it has a higher priority
    echo "   Setup Scripts Path : $SETUP_PATH"

    echo ""
    echo "Git: "
    # Git user config to set the user email and name.
    git-config-user


    ############################
    # Maven Setup
    # We need the sdkman setup script
    ############################
    if [ "$PACKAGE_MANAGER" == "maven" ]; then
      echo ""
      echo "Maven: "
      SDKMAN_MAVEN_VERSION=$(grep -oP 'apache-maven/\K[0-9]+\.[0-9]+\.[0-9]+' .mvn/wrapper/maven-wrapper.properties)
      echo "   Version: $SDKMAN_MAVEN_VERSION"

      # mvn setup
      if ! command -v mvn &> /dev/null; then
        echo "Maven mvn command not found in the path. Installing it with sdkman"
        if [[ $(type -t sdk) == "" ]]; then
          # Sdk man init
          source "$DEV_SCRIPT_PATH/setup/sdkman.sh"
        fi
        if ! sdk home maven "${SDKMAN_MAVEN_VERSION}" >/dev/null; then
          devf_echo_yellow "Maven installation with sdkman"
          sdk install maven "${SDKMAN_MAVEN_VERSION}"
        fi
        # Putting maven in the path
        sdk use maven "${SDKMAN_MAVEN_VERSION}"
      fi
      # mvnw setup
      # Does maven wrapper is installed ?
      if [ ! -f "$PROJECT_ROOT/mvnw" ]; then
        devf_echo_yellow "mvn wrapper not found, installing it"
        mvn wrapper:wrapper
      fi
    fi
else
  devf_echo_yellow "WARNING: devfiles repo not installed: git, maven and common script not configured"
fi

##############################
# Load sub envrc project script
##############################
ENVRCD="$PROJECT_ROOT/.envrc.d"
echo ""
echo "Envrc.d scripts: "
if [ -d "$ENVRCD" ]; then
  # All file loaded in a directory should have a sh extension
  # This is how /etc/profile also work
  for file in "$ENVRCD"/*.sh; do
    # shellcheck disable=SC1090
    if [ -r "$file" ]; then
      source "$file"
      echo "   $(realpath --relative-to="$ENVRCD" "$file")"
    fi
  done
  unset file
else
  echo "   Not found"
fi

echo ""
echo "Env: "
echo "   PROJECT_ROOT      : $PROJECT_ROOT"
echo "   ORGANISATION_NAME : $ORGANISATION_NAME"
echo "   DEVF_DIR          : $DEVF_DIR"

# Last EOL before direnv output
echo ""
